<div class="container">
    <div class="form-inline">
        <a href="../dashboard" style="text-decoration:none">
            <h1 class="mt-3 mb-3">Welcome to Scrabble</h1>
        </a>
        <button (click)=lgout() class="btn btn-success" style="position:relative; left:55%">Logout</button>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="container">
                <div class="row border border-dark border-1 no-gutters">
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g1" [(ngModel)]="gameGrid.g1"
                                [disabled]=gameGrid.isg1Disabled></span>
                    </div>
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g2" [(ngModel)]="gameGrid.g2"
                                [disabled]=gameGrid.isg2Disabled></span>
                    </div>
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g3" [(ngModel)]="gameGrid.g3"
                                [disabled]=gameGrid.isg3Disabled></span>
                    </div>
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g4" [(ngModel)]="gameGrid.g4"
                                [disabled]=gameGrid.isg4Disabled></span>
                    </div>
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g5" [(ngModel)]="gameGrid.g5"
                                [disabled]=gameGrid.isg5Disabled></span>
                    </div>
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g6" [(ngModel)]="gameGrid.g6"
                                [disabled]=gameGrid.isg6Disabled></span>
                    </div>
                </div>
                <div class="row border border-dark border-1 no-gutters">
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g7" [(ngModel)]="gameGrid.g7"
                                [disabled]=gameGrid.isg7Disabled></span>
                    </div>
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g8" [(ngModel)]="gameGrid.g8"
                                [disabled]=gameGrid.isg8Disabled></span>
                    </div>
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g9" [(ngModel)]="gameGrid.g9"
                                [disabled]=gameGrid.isg9Disabled></span>
                    </div>
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g10" [(ngModel)]="gameGrid.g10"
                                [disabled]=gameGrid.isg10Disabled></span>
                    </div>
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g11" [(ngModel)]="gameGrid.g11"
                                [disabled]=gameGrid.isg11Disabled></span>
                    </div>
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g12" [(ngModel)]="gameGrid.g12"
                                [disabled]=gameGrid.isg12Disabled></span>
                    </div>
                </div>
                <div class="row border border-dark border-1 no-gutters">
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g13" [(ngModel)]="gameGrid.g13"
                                [disabled]=gameGrid.isg13Disabled></span>
                    </div>
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g14" [(ngModel)]="gameGrid.g14"
                                [disabled]=gameGrid.isg14Disabled></span>
                    </div>
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g15" [(ngModel)]="gameGrid.g15"
                                [disabled]=gameGrid.isg15Disabled></span>
                    </div>
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g16" [(ngModel)]="gameGrid.g16"
                                [disabled]=gameGrid.isg16Disabled></span>
                    </div>
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g17" [(ngModel)]="gameGrid.g17"
                                [disabled]=gameGrid.isg17Disabled></span>
                    </div>
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g18" [(ngModel)]="gameGrid.g18"
                                [disabled]=gameGrid.isg18Disabled></span>
                    </div>
                </div>
                <div class="row border border-dark border-1 no-gutters">
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g19" [(ngModel)]="gameGrid.g19"
                                [disabled]=gameGrid.isg19Disabled></span>
                    </div>
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g20" [(ngModel)]="gameGrid.g20"
                                [disabled]=gameGrid.isg20Disabled></span>
                    </div>
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g21" [(ngModel)]="gameGrid.g21"
                                [disabled]=gameGrid.isg21Disabled></span>
                    </div>
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g22" [(ngModel)]="gameGrid.g22"
                                [disabled]=gameGrid.isg22Disabled></span>
                    </div>
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g23" [(ngModel)]="gameGrid.g23"
                                [disabled]=gameGrid.isg23Disabled></span>
                    </div>
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g24" [(ngModel)]="gameGrid.g24"
                                [disabled]=gameGrid.isg24Disabled></span>
                    </div>
                </div>
                <div class="row border border-dark border-1 no-gutters">
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g25" [(ngModel)]="gameGrid.g25"
                                [disabled]=gameGrid.isg25Disabled></span>
                    </div>
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g26" [(ngModel)]="gameGrid.g26"
                                [disabled]=gameGrid.isg26Disabled></span>
                    </div>
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g27" [(ngModel)]="gameGrid.g27"
                                [disabled]=gameGrid.isg27Disabled></span>
                    </div>
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g28" [(ngModel)]="gameGrid.g28"
                                [disabled]=gameGrid.isg28Disabled></span>
                    </div>
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g29" [(ngModel)]="gameGrid.g29"
                                [disabled]=gameGrid.isg29Disabled></span>
                    </div>
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g30" [(ngModel)]="gameGrid.g30"
                                [disabled]=gameGrid.isg30Disabled></span>
                    </div>
                </div>
                <div class="row border border-dark border-1 no-gutters">
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g31" [(ngModel)]="gameGrid.g31"
                                [disabled]=gameGrid.isg31Disabled></span>
                    </div>
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g32" [(ngModel)]="gameGrid.g32"
                                [disabled]=gameGrid.isg32Disabled></span>
                    </div>
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g33" [(ngModel)]="gameGrid.g33"
                                [disabled]=gameGrid.isg33Disabled></span>
                    </div>
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g34" [(ngModel)]="gameGrid.g34"
                                [disabled]=gameGrid.isg34Disabled></span>
                    </div>
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g35" [(ngModel)]="gameGrid.g35"
                                [disabled]=gameGrid.isg35Disabled></span>
                    </div>
                    <div class="col border border-dark border-1">
                        <span><input class="form-control border-0" id="g36" [(ngModel)]="gameGrid.g36"
                                [disabled]=gameGrid.isg36Disabled></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="alert alert-danger" *ngIf="moveError">
                {{moveErrorMessage}}
            </div>
            <div class="alert alert-success" *ngIf="moveSuccess">
                {{moveSuccessMessage}}
            </div>
        </div>
     

        <div class="col-md-3 offset-md-2">
            <div class="row">
                <label class="col col-form-label">Game ID</label>
                <label class="col col-form-label">{{gameid}}</label>
            </div>

            <div class="row border border-dark border-3">
                <div class="col">
                    <div class="row">
                        <label class="col col-form-label">Players</label>
                        <label class="col col-form-label">Scores</label>
                    </div>
                    <div class="row">
                        <label class="col col-form-label">{{player1}}</label>
                        <label class="col col-form-label">{{score1}}</label>
                    </div>
                    <div class="row">
                        <label class="col col-form-label">{{player2}}</label>
                        <label class="col col-form-label">{{score2}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-0 ml-2">
        <div class="col-md-3 mt-5">
            <div class="row">
                <label class="col col-form-label font-weight-bold">Your Letters</label>
            </div>
            <div class="row">
                <label class="col col-form-label">{{letter1}}</label>
                <label class="col col-form-label">{{letter2}}</label>
                <label class="col col-form-label">{{letter3}}</label>
                <label class="col col-form-label">{{letter4}}</label>
                <label class="col col-form-label">{{letter5}}</label>
            </div>

            <div class="row mt-5 ml-3">
                <div class="col-md">
                    <div class="row">
                        <button (click)=submitMove() class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 offset-md-6">
        <h5 class="mt-4">Game Moves</h5>
        <div class="row mt-1  rounded " style="border: solid; height: 280px; overflow-y: scroll; ">
                <ul><p class="border-top-0 border-right-0 border-left-0" style="border:inset 2px" *ngFor="let gmmv of gamemoves">
                    <b>{{gmmv.username}}:</b><br>{{gmmv.words}}
                </p></ul>
        </div>
        </div>
    </div>


   

</div>