<div class="container">
    <br>
    <div class="row">
            <a href="../dashboard">
                <h1 class="mt-3">Scrabble!</h1>
                <h1 class="mt-3 "> Hey {{username}}! Welcome to your Dashboard!</h1></a>
    </div>
    <div class="logout"><button  (click)=lgout() class="btn btn-primary float-right mb-1" >Logout</button></div>
    <br><br>
    <div class="row mt-1">
        <div class="col" >
            <div class="alert alert-danger" *ngIf="moveError">
                {{moveErrorMessage}}
            </div>
        </div>
        <div class="col" >
            <div class="startNewGame">
                <button (click)=startNewGame() class="btn btn-success">Start New Game</button>
            </div>
            <button  (click)="EnterGame()" class="btn btn-primary mr-4 mb-1 ml-1 float-right" >Join Game by GameId</button>

            <input type="number"  class="form-control float-right w-25 mb-1 mr-1" id="gmid" name="gmid" min="0" [(ngModel)]="game.gmid" #gmid="ngModel">
            <div *ngIf="gmid.invalid && (gmid.dirty || gmid.touched)" class="alert alert-danger">
                <div *ngIf="gmid.errors?.['min']">
                    Enter valid game id
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    <div class="container">
        <div class="row mt-2 mb-2" >
            <div class="col">
                <h5>Player Wins and Losses</h5>
            </div>
            <div class="col">
                <h5>Historical Games</h5>
            </div>
            <div class="col">
                <h5>Active Games</h5>
            </div>
        </div>

        <div class="row">
            <div class="col">
    <div class="table-responsive-md">
    <table class="table" >
      <thead class="thead-dark">
          <tr>
              <th>Username</th>
              <th>Wins</th>
              <th>Losses</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let tempPlayer of players">
              <td>{{ tempPlayer.userName }}</td>
              <td>{{ tempPlayer.wins }}</td>
              <td>{{ tempPlayer.losses }}</td>
          </tr>
      </tbody>
  </table>
  </div>
</div>
<div class="col">
    <div class="table-responsive-md">
        <table class="table" >
          <thead class="thead-dark">
              <tr>
                  <th>Game Id</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let gm of histgames">
                  <td>{{gm.id}}</td>
                  <td><button (click)="ViewGame(gm.id)" class="btn btn-success">View game</button></td>
              </tr>
          </tbody>
      </table>
    </div>
</div>
<div class="col">
    <div class="table-responsive-md">
        <table class="table">
          <thead class="thead-dark">
              <tr>
                  <th>Game Id</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let gma of activegames">
                  <td>{{gma.id}}</td>
                  <td><button (click)="JoinGame(gma.id)" class="btn btn-success">Join game</button></td>
              </tr>
          </tbody>
      </table>
    </div>
</div>
</div>
</div>

</div>
