#row1{
    display:flex;
    flex-direction:row;
justify-content: space-around;
}

#column1{
    display:flex;
    flex-direction:column;

}


#column2{
    display:flex;
    flex-direction:column;
}

body {
    font-family: Arial;
    background-color: rgb(252, 242, 225);
  }

  .form-group {
      font-size: 1.1rem;
  }

  :host ::ng-deep h1 {
    text-align: center;
    font-style: Bold;
    color:rgb(3, 65, 3)
  }
  
  .btn-wrapper {
    /* flexbox */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
  .btn {
    color: rgb(13, 15, 14);
    background-color: rgb(138, 137, 121);
    border: 2px solid #061257;
    padding: 0.35rem 1rem 0.25rem 1rem;
    font-size: 1.5rem;
  }
  
  .btn:hover {
      color: white;
    background-color: rgb(49, 126, 15);
  }