<br>
<br>
<h1>Create Account to play Scrabble!</h1>

<form #myForm="ngForm" (ngSubmit)="createAccount()">

    <div class="alert alert-warning" *ngIf='invalidAccount'>{{errorMessage}}</div>
    <div class="alert alert-warning" *ngIf='accountCreated; else elseBlock'>{{successMessage}}</div>
    <ng-template #elseBlock>
    <div class="container">
        <div class="form-group">
            <label for="username" class="col-sm-6">User Name</label>
            <!--input type="text" class="form-control" id="username" name="username" [(ngModel)]="username"-->
            <div id="row1">
                <div id="column1" class="col-sm-8">
                    <input type="text" class="form-control" id="username" name="username" [(ngModel)]="user.username" #username="ngModel" required minlength="2" maxlength="20" pattern="^[a-zA-Z0-9]+$">
                    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                        <div *ngIf="username.errors?.['required']">
                        Username cannot be empty.
                        </div>
                        <div *ngIf="username.errors?.['minlength']">
                        Username must be at least 2 characters long.
                        </div>
                        <div *ngIf="username.errors?.['maxlength']">
                        Username cannot be more than 20 characters long.
                        </div>
                        <div *ngIf="username.errors?.['pattern']">
                            Username only have alphabets and numbers
                        </div>
                    </div>
                </div>
                <div id="column2"> Username length should be between 2 to 20 alphanumeric characters Only </div>
            </div>
        </div>
    <div class="form-group">
        <label for="firstname" class="col-sm-6">First Name</label>
        <!--input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="firstname"-->
        <div id="row1">
            <div id="column1" class="col-sm-8">
                <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="user.firstname" #firstname="ngModel" required minlength="2" maxlength="20" pattern="^[a-zA-Z]+$">
                <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-danger">
                    <div *ngIf="firstname.errors?.['required']">
                        First Name is required.
                    </div>
                    <div *ngIf="firstname.errors?.['minlength']">
                        First name must be at least 2 characters long.
                    </div>
                    <div *ngIf="firstname.errors?.['maxlength']">
                        First name cannot be more than 20 characters long.
                    </div>
                    <div *ngIf="firstname.errors?.['pattern']">
                        First name only have alphabets.
                    </div>
                </div>

            </div>
            <div id="column2"> First name length should be between 2 to 20 alphabet characters Only </div>
        </div>

    </div>
    <div class="form-group">
        <label for="lastname" class="col-sm-6">Last Name</label>
        <!--input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="lastname"-->
        <div id="row1">
            <div id="column1" class="col-sm-8">
                <input type="text" class="form-control" id="lastName" name="lastname" [(ngModel)]="user.lastname" #lastname="ngModel" required minlength="2" maxlength="20" pattern="^[a-zA-Z]+$">
                <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger">
                    <div *ngIf="lastname.errors?.['required']">
                        Last Name is required.
                    </div>
                    <div *ngIf="lastname.errors?.['minlength']">
                        Last name must be at least 2 characters long.
                    </div>
                    <div *ngIf="lastname.errors?.['maxlength']">
                        Last name cannot be more than 20 characters long.
                    </div>
                    <div *ngIf="firstname.errors?.['pattern']">
                        Last name only have alphabets.
                    </div>
                </div>
            </div>
            <div id="column2"> Last name length should be between 2 to 20 alphabet characters Only </div>
        </div>
    </div>
    <div class="form-group col-sm-8" >
        <label for="emailid">Email ID</label>
        <!--input type="email" class="form-control" id="emailid" name="emailid" [(ngModel)]="emailid" email="true"-->
                <input type="email" class="form-control" id="emailid" name="emailid" [(ngModel)]="user.emailid" #emailid="ngModel" required email="true">
                <div *ngIf="emailid.invalid && (emailid.dirty || emailid.touched)" class="alert alert-danger">
                    <div *ngIf="emailid.errors?.['required']">
                        Email is required.
                    </div>
                    <div *ngIf="emailid.errors?.['email']">
                        Invalid email format.
                    </div>
                </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-6">Password</label>
        <!--input type="password" class="form-control" id="password" name="password" [(ngModel)]="password"-->
        <div id="row1">
            <div id="column1" class="col-sm-8">
                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" #password="ngModel" required minlength="8" maxlength="20"
                pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[#&@$])[A-Za-z\d#&@$]{8,}$">
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                    <div *ngIf="password.errors?.['required']">
                        Password is required.
                    </div>
                    <div *ngIf="password.errors?.['minlength']">
                        Password must be at least 8 characters long.
                    </div>
                    <div *ngIf="password.errors?.['maxlength']">
                        Password cannot be more than 20 characters long.
                    </div>
                    <div *ngIf="password.errors?.['pattern']">
                        Password does not meet the given criteria.
                    </div>
                </div>
            </div>
            <div id="column2"> Must contain at least 8 characters including an uppercase letter, a lowercase letter, a digit and a special characters among # & @ $ </div>
        </div>

    </div>
    <!--button (click)=createAccount() class="btn btn-primary">Create</button-->
        <div class="col-sm-8">
            <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary">Submit</button>
        </div>
    </div>
</ng-template>
</form>
